
p {
  font-size: 13px; /* Změňte podle požadované velikosti */
  line-height: 1.5; /* Nastavení výšky řádku pro lepší čitelnost */
}

a {
  font-size: 11px; /* Změňte podle požadované velikosti */
  line-height: 1.5; /* Nastavení výšky řádku pro lepší čitelnost */
}

h1 {
  font-size: 1rem !important;  /* Nastavení velikosti písma pro všechny nadpisy */
  line-height: 1.0;  /* Výška řádku pro lepší čitelnost */
  font-weight: bold !important; /* Volitelné: změna tloušťky písma */
  color: #17678f !important;
}

h2 {
  font-size: 0.7rem !important;  /* Nastavení velikosti písma pro všechny nadpisy */
  line-height: 1.0;  /* Výška řádku pro lepší čitelnost */  
  font-weight: bold !important; 
  color: #17678f !important;
}

h3 {
  font-size: 0.65rem !important;  /* Nastavení velikosti písma pro všechny nadpisy */
  line-height: 1.0;  /* Výška řádku pro lepší čitelnost */  
  color: #57678f !important;
}

h4 {
  font-size: 0.6rem !important;  /* Nastavení velikosti písma pro všechny nadpisy */
  line-height: 1.0;  /* Výška řádku pro lepší čitelnost */  
  font-weight: normal !important; /* Volitelné: změna tloušťky písma */
  color: #606779 !important;
}

ul li {
  font-size: 13px; /* Změní velikost písma */
  color: #444444 !important; /* Změní barvu textu */
  line-height: 1.6; /* Změní výšku řádku */
  margin-bottom: 10px; /* Přidá mezeru pod každou položku */
}

/* Pokud chcete změnit i pro <ol> (číslované seznamy) */
ol li {
  font-size: 13px; 
  color: #444444 !important;
  line-height: 1.6;
  margin-bottom: 10px;
}

[data-md-color-scheme="whs"] {
  --md-primary-fg-color:        white;
  --md-primary-fg-color--light: white;
  --md-primary-fg-color--dark:  #445555;
  --md-primary-bg-color:       #17678f;
  --md-secondary-fg-color:       red;
  
}


 


  

